:root {
  --bg-colour1: #2C5364;
  --bg-colour2: #203A43;
  --bg-colour3: #0F2027;
  --text-colour: white;
  --main-font: 'Bebas Neue', -apple-system, BlinkMacSystemFont,  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans';
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-colour);
  background: var(--bg-colour1);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, var(--bg-colour1), var(--bg-colour2), var(--bg-colour3));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, var(--bg-colour1), var(--bg-colour2), var(--bg-colour3)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-colour2); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-colour1); 
}