#main_navbar {
  overflow: hidden;
  position: fixed !important;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1rem;
  justify-content: space-between;
}

.navbar-main-links {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.content-links {
  margin-right: 1rem;
}

.link-icon {
  display: inline-flex !important; 
  border-radius: 50% !important;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}

a svg {
  font-size: 1.3rem;
}